<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ItmContext" connectionString="data source=DESKTOP-MQ9L2HI\SQLEXPRESS;initial catalog=AdventureWorks2019;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>