<section class="request__application" id="request__application">

    <div class="request__application__text">
        <h2>Оставьте заявку</h2>
    </div>

    <form action="" class="request__application__form">
        <input type="text" placeholder="Имя" class="input__name">
        <input type="text" placeholder="Почта" class="input__post">

        <input type="submit" class="request__application__btn" value="Отправить">
    </form>

</section>