<footer class="footer">

    <div class="footer__main__content">

        <div class="footer__logo">
            <span class="footer__logo__head">OnlineStore</span>
        </div>

        <div class="footer__company">
            <span class="footer__company__header">Компания</span>

            <span class="footer__company__span"><a href="#">О нас</a></span>
            <span class="footer__company__span"><a href="#">Продукция</a></span>
            <span class="footer__company__span"><a href="#">Доставка</a></span>

        </div>

        <div class="footer__adress">
            <span class="footer__adress__header">
                Адрес
            </span>

            <span class="footer__adress__span">
                г.Астана, р-н “Байконур”, <br> ул. Кенесары
            </span>
        </div>

        <div class="footer__phone">
            <span class="footer__phone__header">
                Телефон
            </span>

            <span class="footer__phone__number">
                <a href="tel:+7 777 555 44 33">8 777 555 44 33</a>
            </span>

            <span class="footer__phone__social">
                <a href=""><img src="~/Content/img/icons/whatsapp.svg" alt="whatsapp"></a>
                <a href=""><img src="~/Content/img/icons/vk.svg" alt="vk"></a>
                <a href=""><img src="~/Content/img/icons/instagram.svg" alt="instagram"></a>
            </span>
        </div>

    </div>

    <hr>

    <div class="footer__info">
        <span class="footer__info__company">
            &#169; 2020 OnlineStore
        </span>
    </div>

</footer>