@{
    ViewBag.Title = "Заказ обработан";
}

@Html.Partial("HeaderPartial", "Заказ обработан")

<div style="width: 40%; margin: 90px auto;">
    <h2>Спасибо!</h2>
    <p>Спасибо за выбор нашего магазина. Заказ в кратчайшие сроки будет отправлен в службу доставки.</p>
</div>